#category-select {
    height: 50px;
}

#incident-map {
    height: calc(100% - 50px);
}

.incident-information {
    margin: 0 0 2px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
