body {
  font-family: "Georgia", "serif";
}

#home-container {
  padding: 20px;
}

#category-selection {
  border-bottom: #ececec solid 1px;
  padding-left: 20px;
  padding-top: 10px;
}

#category-selection * {
  display: inline;
}

#category-selection .visual-select {
  margin-bottom: 10px;
}

#visual-container {
  height: calc(100% - 61px);
  padding-bottom: 5px;
}

#visual-container.full-screen {
  height: calc(100% - 5px);
}

#visual-container:has(table) {
  font-size: 14px;
  margin-left: 10px;
  width: calc(100% - 20px);
}

.col-category {
  width: 15%;
  text-wrap: wrap;
}

.col-description {
  width: 60%;
  text-wrap: wrap;
}

.col-location {
  width: 20%;
  text-wrap: wrap;
}

.dt-length {
  display: flex;
}

.dt-length > label {
  padding-left: 5px;
  padding-top: 2px;
}

.dt-layout-cell.dt-end {
  float: right;
}

.dt-layout-cell.dt-end > .dt-search {
  display: flex;
}

.dt-layout-cell.dt-end > .dt-search > label {
  padding-top: 3px;
}

.dt-layout-cell.dt-end > .dt-search > input {
  width: 250px;
}

#previous-year-incidents_wrapper
  .dt-layout-row:first-of-type
  .dt-layout-cell
  .dt-search {
  margin-top: 0;
}

@media screen and (max-width: 767px) {
  #previous-year-incidents_wrapper .dt-layout-row:first-of-type {
    display: table;
  }

  #previous-year-incidents_wrapper
    .dt-layout-row:first-of-type
    .dt-layout-cell {
    display: table-cell;
  }
}

#map-container {
  height: calc(100% - 66px);
  padding-bottom: 10px;
}

@media (max-width: 482px) {
  #map-container {
    height: calc(100% - 90px);
    padding-bottom: 11px;
  }
}

#loading-visual-container {
  background-color: #ffffff;
  bottom: 0;
  display: none;
  height: calc(100% - 55px);
  opacity: 0.9;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 10;
}

#loading-visual-container.loading {
  display: block;
}

#loading-content {
  font-weight: bold;
  position: relative;
  top: 45%;
}

.gm-style {
  font-family: "Georgia", "serif";
}

.gm-style .gm-style-iw {
  max-width: none !important;
}

.gm-style-iw-d {
  margin-top: -20px;
  max-height: none !important;
}

.gm-style-iw-chr button {
  height: auto !important;
  width: auto !important;
}

.gm-style-iw-chr button span {
  margin: 3px !important;
}

.incident-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  margin-right: 10px;
  margin-top: 2px;
  width: 200px;
}

.incident-information {
  margin: 0 12px 2px 0;
  width: 230px;
}

@media screen and (max-width: 450px) {
  .incident-information {
    width: 180px;
  }
  .incident-title {
    width: 170px;
  }
}

.incident-information:last-of-type {
  margin-bottom: 12px;
}

html,
body {
  height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
