{% extends "base.html" %}
{% block title %}
  UCPD Incident Reporter - Home
{% endblock title %}
{% block content %}
  <div id="home-container">
    <h1>UCPD Incident Tracking</h1>
    <p>
      This project was undertaken with the goal of showing a more granular picture of incidents posted on
      the <a href="https://incidentreports.uchicago.edu/" target="_blank">UCPD Incident Report</a> page.
    </p>
    <h3>The current analysis of the incident data is listed below:</h3>
    <ul>
      <li>
        A map of incidents that took place over the last 30 days: <a href='{{ url_for("thirty_day_map") }}'>Link</a>
      </li>
      <li>
        A drilldown bar chart that allows you to see the type of events that happen at a given hour in a given season
        based on data from 2011 to the most recently completed year: <a href='{{ url_for("hourly_summation") }}'>Link</a>
      </li>
      <li>
        A bar chart showing all incident types that occurred more than 20 times within the last
        365 days: <a href='{{ url_for("yearly_summation") }}'>Link</a>
      </li>
    </ul>
    <h3>Parts of this application are used in the following articles:</h3>
    <ul>
      <li>
        Three Students Robbed Near Campus, Blue Light Near Incident Broken: <a href="">Link</a>
      </li>
      <li>
        The Maroon Launches UChicago Police Department Incident Reporter: <a href="https://chicagomaroon.com/41255/grey-city/the-maroon-launches-uchicago-police-department-incident-reporter/">Link</a>
      </li>
      <li>
        University Officials Float Further Lyft Ride Cuts in Webinar Following Robberies: <a href="https://chicagomaroon.com/40299/news/university-officials-float-further-lyft-ride-cuts-in-webinar-following-robberies/">Link</a>
      </li>
      <li>
        UCPD Apprehends Grey Kia and Suspect Involved in String of Robberies: <a href="https://chicagomaroon.com/40263/news/ucpd-apprehends-grey-kia-and-suspect-involved-in-string-of-robberies/">Link</a>
      </li>
    </ul>
    <h3>The code for this project is stored in two places:</h3>
    <ul>
      <li>
        The UCPD incident web scraper: <a href="https://github.com/michplunkett/ucpd-incident-scraper"
    target="_blank">Link</a>
      </li>
      <li>
        The FastAPI application for data display: <a href="https://github.com/michplunkett/ucpd-incident-reporting"
    target="_blank">Link</a>
      </li>
    </ul>
    <p>
      For more information on this project or any inquiries related to the
      author, please reach out to me over email at:
      <strong>michplunkett[at]gmail[dot]com</strong>
    </p>
  </div>
{% endblock content %}
