{% extends "base.html" %}
{% block title %}
  UCPD Incident Reporter - Home
{% endblock title %}
{% block content %}
  <h1>UCPD Incident Tracking</h1>
  <p>
    This project was undertaken with the goal of showing a more granular picture of incidents are posted on
    the <a href="https://incidentreports.uchicago.edu/" target="_blank">UCPD Incident Report</a> page.
  </p>
  <h3>The code for this project is stored in two places:</h3>
  <ul>
    <li>
      A map of incidents that took place over the last 30 days: <a href='{{ url_for("thirty_day_map") }}'>Link</a>
    </li>
    <li>
      A radial stacked bar chart showing the average amount of incidents that take place at a given hour per season
      based on data from 2015 to the most recently completed year: <a href='{{ url_for("hourly_summation") }}'>Link</a>
    </li>
    <li>
      A bar chart showing the number of incidents that have occurred based on data from 2015 to the most recently
      completed year: <a href='{{ url_for("yearly_summation") }}'>Link</a>
    </li>
  </ul>
  <h3>The code for this project is stored in two places:</h3>
  <ul>
    <li>
      The UCPD incident web-scraper: <a href="https://github.com/michplunkett/ucpd-incident-scraper"
    target="_blank">Link</a>
    </li>
    <li>
      The FastAPI application for data display: <a href="https://github.com/michplunkett/ucpd-incident-reporting"
    target="_blank">Link</a>
    </li>
  </ul>
  <p>
    For more information on this project, or any inquiries related to the
    author, please reach out to me over email at:
    <strong>michplunkett[at]gmail[dot]com</strong>
  </p>
{% endblock content %}
