{% extends "base.html" %}
{% block title %}
  UCPD Incident Reporter - Hourly Summation
{% endblock title %}
{% block graphic_script %}
  <script type="text/javascript"
          src="{{ url_for('static', path='/js/hourly_summation.js') }}"></script>
{% endblock graphic_script %}
{% block content %}
  <div id="category-selection">
    <label for="incident-type">Select an Incident Type:</label>
    <select name="incident-type" id="incident-type">
      <option value="">All Seasons</option>
      <option value="Spring">Spring</option>
      <option value="Summer">Summer</option>
      <option value="Fall">Fall</option>
      <option value="Winter">Winter</option>
    </select>
  </div>
  <div id="visual-container">
    <canvas id="canvas-visual"></canvas>
  </div>
{% endblock content %}
