{% extends "base.html" %}
{% block title %}
  UCPD Incident Reporter - Hourly Summation
{% endblock title %}
{% block graphic_script %}
  <script type="text/javascript"
          src="{{ url_for('static', path='/js/hourly_summation.js') }}"></script>
{% endblock graphic_script %}
{% block content %}
  <div id="category-selection">
    <label for="season-select">Select a Season:</label>
    <select class="visual-select" name="season-select" id="season-select">
      <option value="all season">All Seasons</option>
      <option value="spring">Spring</option>
      <option value="summer">Summer</option>
      <option value="fall">Fall</option>
      <option value="winter">Winter</option>
    </select>
  </div>
  <div id="loading-visual-container">
    <span id="loading-content"></span>
  </div>
  <div id="visual-container"></div>
  <!-- Load visual once the visual-container div has loaded -->
  <script type="text/javascript">createVisual();</script>
{% endblock content %}
