{% extends "base.html" %}
{% block title %}
  UCPD Incident Reporter - Hourly Summation
{% endblock title %}
{% block graphic_script %}
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7LDqcFvKtE2u_SRUiZY4OR-KSOryqAAs&callback=initMap&v=weekly"
          defer></script>
  <script type="text/javascript"
          src="{{ url_for('static', path='/js/hourly_summation.js') }}"></script>
{% endblock graphic_script %}
{% block content %}
  <div id="graph-container"></div>
{% endblock content %}
