{% extends "base.html" %}
{% block title %}
  UCPD Incident Reporter - Monthly Map
{% endblock title %}
{% block graphic_script %}
  <script type="text/javascript"
          src="{{ url_for('static', path='/js/thirty_day_map.js') }}"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
{% endblock graphic_script %}
{% block content %}
  <div id="category-selection">
    <label for="incident-type">Select an Incident Type:</label>
    <select class="visual-select" name="incident-type" id="incident-type">
      <option value="">All Incidents</option>
      {% for t in types %}<option value="{{ t }}">{{ t }}</option>{% endfor %}
    </select>
  </div>
  <div id="map-container"></div>
  <script async
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7LDqcFvKtE2u_SRUiZY4OR-KSOryqAAs&callback=initMap&loading=async"></script>
{% endblock content %}
